* { box-sizing: border-box; }
body { font-family: calibri; }

.calculations {
    display: flex; justify-content: space-between;

    table {
        tr {
            &.hide { display: none; }
        }
        td {
            //padding: 0px 15px;
            &:nth-child(2) { text-align: right; }
            &.profit { color: darkslategrey; }
            &.loss { color: red; }
        }
    }
}

input[type="range"] { min-width: 300px; }